openai>=1.0.0
nicegui>=1.2.0
PyQt5>=5.15.0
pydantic>=2.10.6
uvicorn>=0.18.0
fastapi>=0.115.8
click>=8.1.8
slowapi>=0.1.9
tiktoken>=0.8.0
dnspython>=2.7.0
email-validator>=2.2.0
llama_index>=0.12.19
loguru>=0.5.3
requests>=2.28.1
